* {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
        Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
}

::selection {
    background: #b3e5fc;
}

.font-size-small {
    font-size: 14px;
}

.font-size-medium {
    font-size: 16px;
}

.font-size-larger {
    font-size: 20px;
}

.font-size-huge {
    font-size: 26px;
}

.line-height-medium {
    line-height: 20px;
}

.line-height-huge {
    line-height: 30px;
}

.font-weight-medium {
    font-weight: 400;
}

.font-weight-bold {
    font-weight: 700;
}

.shade-056 {
    color: #717171;
}

.shade-087 {
    color: #222;
}

.primary {
    color: #1a73e8;
}

.border-color-primary {
    border-color: #1a73e8;
}

.padding-horizontal-medium {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-horizontal-larger {
    padding-left: 24px;
    padding-right: 24px;
}

.padding-vertical-smaller {
    padding-top: 8px;
    padding-bottom: 8px;
}

.padding-vertical-small {
    padding-top: 12px;
    padding-bottom: 12px;
}

.padding-vertical-medium {
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-left-small {
    padding-left: 12px;
}

.padding-left-smaller {
    padding-left: 8px;
}

.padding-top-tiny {
    padding-top: 4px;
}

.padding-top-smaller {
    padding-top: 8px;
}

.padding-top-medium {
    padding-top: 16px;
}

.padding-top-large {
    padding-top: 20px;
}

.padding-top-larger {
    padding-top: 24px;
}

.padding-top-extra-large {
    padding-top: 28px;
}

.padding-top-extra-larger {
    padding-top: 32px;
}

.padding-right-medium {
    padding-right: 16px;
}

.padding-right-tiny {
    padding-left: 4px;
}

.padding-bottom-smaller {
    padding-bottom: 8px;
}

.padding-bottom-medium {
    padding-bottom: 16px;
}

.margin-top-larger {
    margin-top: 24px;
}

.margin-bottom-medium {
    margin-bottom: 16px;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.top-left {
    top: 0;
    left: 0;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.z-12 {
    z-index: 12;
    ;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flexbox {
    display: flex;
}

.flexbox-direction-row {
    flex-direction: row;
}

.flexbox-direction-column {
    flex-direction: column
}

.flexbox-justify-center {
    justify-content: center;
}

.flexbox-centered {
    align-items: center;
    justify-content: center;
}

.flexbox-align-stretch {
    align-items: stretch;
}

.flexbox-align-center {
    align-items: center;
}

.flexbox-grow-1 {
    flex-grow: 1;
}

.box-shadow {
    box-shadow: rgba(29, 17, 17, 0.15) 0px 5px 12px;
}

.radius-small {
    border-radius: 4px;
}

.radius-large {
    border-radius: 8px;
}

.border-width-normal {
    border-width: 1px;
}

.border-top-normal {
    border-top-width: 1px;
    border-top-style: solid;
}

.no-border {
    border: 0;
}

.border-solid {
    border-style: solid;
}

.border-shade-87 {
    border-color: #DDD;
}

.border-shade-100 {
    border-color: #fff;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.no-outline {
    outline: none;
}

.pointer {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}